*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: "Roboto Flex", sans-serif;

}

.navbar {
    background-color: #131414;
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-inline: .75rem;
}

h1 {
    font-weight: 400;
    letter-spacing: -1px;
    position: relative;
    font-size: 1.5rem;

    small {
        font-size: .6rem;
        letter-spacing: normal;
        position: absolute;
        top: 0rem;
        color: lightgray;
    }

    i {
        color: rgb(162, 6, 6);
    }

}

.search {
    display: flex;
    align-items: center;
    inline-size: 28rem;
}

form {
    inline-size: 100%;
    display: flex;
    position: relative;

    button {
        position: absolute;
        left: 100%;
        padding-inline-start: 1.5rem;
        padding-inline-end: 1.25rem;
        padding-block: .75rem;
        border-start-end-radius: 2rem;
        border-end-end-radius: 2rem;
        background-color: #252626;
        color: white;
        font-weight: 100;
        outline: none;
        border: 1px solid rgba(211, 211, 211, 0.41);

        &:hover {
            cursor: pointer;
        }
    }
}

.input-search {
    font-family: "Roboto", serif;
    flex-grow: 1;
    flex-basis: 0;
    background-color: #121212;
    color: lightgray;
    padding-block: .75rem;
    padding-inline: 1rem;
    border-start-start-radius: 2rem;
    border-end-start-radius: 2rem;
    border: 1px solid rgba(211, 211, 211, 0.41);
    outline: none;
}

.input-search:focus {
    border: 1px solid rgb(8, 81, 189);
}

.icons {
    margin-inline: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
        color: white;
        background-color: #13131300;
        border: none;
        inline-size: 2.75rem;
        block-size: 2.75rem;
        font-size: 1.25rem;
        border-radius: 2rem;

        &:hover {
            cursor: pointer;
            background-color: rgba(128, 128, 128, 0.326);
        }
    }
}

button>img {
    inline-size: 100%;
    border-radius: 2rem;
    display: block;
}

.container {
    background-color: #0f0f0f;
    padding-block: 2rem;
    padding-inline: 5rem;
    display: grid;
    grid-template-areas:
        'video relationed-videos'
        'channel  relationed-videos'
        'comments  relationed-videos';
    grid-template-columns: 1fr 1fr;
}

.video {
    grid-area: video;
    inline-size: 57rem;
    block-size: 32rem;
    overflow: hidden;
    border-radius: 1.5rem;

    video {
        display: block;
        inline-size: 100%;
        border-radius: 1.5rem;
    }
}

.video-description {
    grid-area: channel;
    color: white;
}

.relationed-videos {
    grid-area: relationed-videos;
}

.comments {
    grid-area: comments;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    padding-block: 1rem;
}

.channel-des {
    display: flex;
    justify-content: space-between;
}

.channel-info {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.channel-details {
    display: flex;
    gap: 1rem;

    h4 {
        margin: 0;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.subscribers-text {
    font-size: .75rem;
    color: rgb(160, 160, 160);
}

.profile-photo {
    border-radius: 2rem;
    block-size: 2.5rem;
}

.button {
    padding-inline: 1rem;
    padding-block: .5rem;
    border-radius: 2rem;
    border: none;
    outline: none;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(187, 187, 187);
}

.channel-buttons {
    display: flex;
    gap: .5rem;
}

.like-dislike {
    display: flex;
    align-items: center;

    i {
        font-size: 1.15rem;
    }
}

.like {
    border-end-end-radius: 0;
    border-start-end-radius: 0;
    border-inline-end: 1px solid gray;
}

.dislike {
    border-end-start-radius: 0;
    border-start-start-radius: 0;
    border-inline-start: 1px solid gray;
}

.alter-button {
    background-color: #262626;
    color: white;
}

.alter-button:hover {
    background-color: #545454;
}

.other-buttons {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.bold {
    font-weight: 600;
    font-size: 1rem;
}